.des-div {
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}
.img-input-div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
}

.spot-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-left: 15rem;
  margin-right: 15rem;
  border: 1px solid blue;
}

.wrapper-div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid green;
}
