.spot-card-wrap {
  margin: 1rem;
}

#card-preview-img {
  border-radius: 10%;
  width: 18rem;
  object-fit: cover;
}

/* .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
} */

/* .tooltiptext {

  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
} */
