.hidden {
  display: none;
  position: absolute;
}

.profile-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.create-spot-nav {
  margin-right: 1rem;
}

.create-spot-nav > a:visited {
  color: teal;
}

#lines {
  margin-right: 0.5rem;
}
#u-icon {
  margin-left: 0.5rem;
}

.p-s {
  display: flex;
  flex-direction: row;
  height: 2rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: white;
  position: relative;
  cursor: pointer;
}

.profile-dropdown {
  border: black solid 2px;
  background: white;
  border-radius: 5%;
  margin-left: 3rem;
  margin-top: 10rem;
  margin-right: 4rem;
  z-index: 3;
  position: relative;
}

.hello > a {
  text-decoration: none;
  color: black;
}
.hello {
  margin-top: 0.5rem;
  border-bottom: 1px solid black;
}

.bye {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.bye > button {
  border: 1px solid black;
  color: white;
  box-shadow: 2px 2px black;
  background-color: gray;
  border-radius: 10%;
  cursor: pointer;
}

.mo-links {
  margin-left: none;
  margin-right: 2rem;
  cursor: pointer;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
  width: 100%;
}

.yo-email {
  margin-top: 0.3rem;
}
